<h2><%= @cuisine.name %></h2>
<%= image_tag @cuisine.image, :class => 'feature' %>
<ul>
  <li>Cuisine: <%= @cuisine.name %></li>

</ul>


<div class="controls">
  <%= link_to 'Edit cuisine', edit_cuisine_path(@cuisine) %>
  <%= link_to 'Delete cuisine', @cuisine, :method => 'delete' %>
</div>
