<h2><%= @cuisine.name %></h2>
<%= image_tag @cuisine.image, :class => 'feature' %>
<ul>
  <li>Cuisine: <%= @cuisine.name %></li>

</ul>

<% @cuisine.users.each do |c| %>
  <ul>
    <li><%= c.name  %></li>
  </ul>
<% end %>



<%= form_for @cuisine do |f| %>
<%= f.label :name %><br>

<br>
  <%= f.submit @cuisine.name %>
<% end %>
