<h2><%= @user.name %></h2>
<%= image_tag @user.image, :class => 'feature' %>
<ul>
  <li>Name: <%= @user.name %></li>

</ul>


<div class="controls">
  <%= link_to 'Edit user', edit_user_path(@user) %>
  <%= link_to 'Delete user', @user, :method => 'delete' %>
</div>
