<!DOCTYPE html>
<html>
  <head>
    <title>Chefz Table</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-#7AB80D">
  <a class="navbar-brand" href="/">Chefz Table</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">All Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/new">New User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cuisines">All Cuisines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cuisines/new">New Cuisine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookings">All Bookings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookings/new">New Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login/">Sign Out</a>
      </li>
      </div>
    </nav>
    <br>
    <div class="logo">
    <%= image_tag("logo/ChefzTableLogo.jpg") %>
    </div>

      <%= yield %>
      </body>
      </html>
      <!--
      </li>
      <% if @current_user.present? %>
        |
        <%= link_to 'All Users', users_path %>
        |
        <%= link_to 'New User', new_user_path %>
        |
        <%= link_to 'All Cuisines', cuisines_path %>
        |
        <%= link_to 'New Cuisines', new_cuisine_path %>
        |
        <%= link_to 'All Bookings', bookings_path %>
        |
        <%= link_to 'New Bookings', new_booking_path %>
        |
        <%= link_to "Sign Out #{ @current_user.email }", login_path, :method => 'delete' %>
        |
      <% else %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Sign In', login_path %>
      <% end %>
    </nav>-->
